body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.hoverBallotBtn:hover{
  background-color: red;
}
.markBallotBtn{
  background-color: green;
}

@media (max-width: 800px){
  .classPlayerBody, .classPlayer th{
    font-size: 12px;
    padding: 2px;
  }
  
}